		#ii{
			height: 250px;
			
			transition: all 1.5s ease;
		}
		.in{
			overflow: hidden;
		}
		#ii:hover {
			
			transform: scale(1.5);
		}
		.jumbotron{
			background-image: url("https://images.unsplash.com/photo-1495446815901-a7297e633e8d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
			background-repeat: no-repeat;
			background-size: cover; 

		}
		.jumbotron h1{
			color: white;
		}
		.jumbotron h2{
			color: white;
		}
		.mybuttonoverlap{
			position: absolute;
		    z-index: 2;
		    top: 100px;
		    display: none;
		    left: 140px;	
		}		
		.in:hover .mybuttonoverlap{ 
			display:block;
		}